@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.main_hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);

  .hero_title {
    font-family: "Pixel Font7", sans-serif;
    font-weight: 600;
    font-size: 16rem;
    line-height: 1.1;
    text-align: center;
    margin-top: -80px;
    text-shadow: 5px 5px var(--verde-principal);

    .blinking_cursor {
      color: var(--verde-principal);
      animation: blink 1.3s infinite;
      text-shadow: none;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .main_hero_container .hero_title {
    font-size: 12rem;
    line-height: 1;
    text-align: center;
  }
}
