.contact_main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  max-height: 100px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;

  .buttons_container {
    display: flex;
    padding: 8px 4px;
    background-color: #080808;
    border-radius: 40px;
    border: 1px solid var(--gris-bordes);
    z-index: 9999;

    .contact_btns {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin: 0 4px;
      border-radius: 50%;
      background-color: #111111;
      border: 1px solid #202020;
      transition-property: background-color;
      transition-duration: 0.8s;
      cursor: url(/pointer.png), pointer;
      transition: all ease-in-out 0.5s;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    :hover {
      background-color: #202020;
      transition: all ease-in-out 0.3s;
    }
  }
}
