:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --verde-principal: #38BC36;
  --gris-bordes: #202020;
  --blanco-opaco: rgba(255, 255, 255, 0.87);
}

@font-face {
  font-family: "Pixel Font7";
  src: url(./assets/fonts/pixel-font-7.ttf) format("ttf");
}

html {
  padding: 0 40px 0 40px;
  background-image: url(/noise-light.png);
  background-repeat: repeat;
  background-size: 100px 100px;
  cursor: url(/cursor.png), auto;
}

* {
  font-family: "acumin-pro", sans-serif;
  scroll-behavior: smooth;

  ::selection {
    background-color: var(--verde-principal);
  }
}

body {
  margin: 0 auto;
  max-width: 2704px;
}


body:hover #trailer {
  opacity: 1;
}

h1,  h2, h3, h4, h5, h6 {
  font-family: "Pixel Font7";
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(/pointer.png), pointer;
}
